@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
 
}

.HEADERS{
    text-align: center;
    background-color: aqua;
    color: var(--font);
    font-weight: 600;
    font-size: var(--Font-Size);
}
/* :root{
  --font : Black;
   --Font-Size : clamp(.3rem , .3rem + 1.3333vw , 5rem);
   --IMG_Nav :  clamp(7% , 7% + 2vh , 15%);;
 }
 .Main-Nav{
  isolation: isolate;
  width: 100%;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
   
 }  
 
 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
li{
 font-size: clamp(.5rem, .5rem + 2vw , 3.3rem);
 display: inline-block;
}
li:hover , li:focus-within {
  background-color: lightblue;
}
 .li_Search{
  width: clamp(1rem , 1rem + 30vw , 50rem);
 }
.search{
  display: inline-block;
  width: 100%;
   height: clamp(1rem , 1rem + 2vh , 3rem); 
} 
*/
 .Write_Note_Div_Show{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    background-color: cyan;
 } 
 .Write_Note_Div_Show > .XXX{
    background-color: #e40000;
    display: block;
    width: -webkit-fill-available;
 }
 .Write_Note_Div_Show > .Save{
    background-color: #4ce400;
    display: block;
    width: -webkit-fill-available;
 }

 .Write_Note_Div_Hide{ 
 display: none; 
 } 
 .Nav_Cart_IMG_Contain{
   display: contents;
 }
.Nav_Cart_IMG{
width: var(--IMG_Nav);
} 

:root{
  --font : Black;
   --Font-Size : clamp(.5rem , .5rem + 1.3333vw , 5rem); 
   --Font-Size_AR_Grid: clamp(.1rem, .1rem + 1vw , 5.3rem);
   --BTN_Width_Height : clamp(1rem, 1rem + 2vw , 10rem);
  --Save_G_D_1_IMG : clamp(3rem , 3rem + 7vw , 30rem);
  --White: white;
  --Green : #0bf00b;
 }
.Main_Nav{
   position: sticky;
   top: 0%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: stretch;
   align-items: stretch;
   outline: 2px solid Black;
   width: 100%;
   height: fit-content;
   background-color: aqua;
   flex-direction: row;
   isolation: isolate;
   
 }
  .Main_Nav > * {
    background-color: red;
    outline: 2px solid Blue;
    width: 33.33%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    isolation: isolate;
    padding-block: .3rem;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 auto auto;
  }
  .MN_1_Div a{
    display: contents;
  }
  .MN_1_Div > a > img{
    width: clamp(7% , 7% + 2vh , 15%);
   
  }
  .MN_1_Div > a > h1{
    color: var(--font);
    display: inline-block;
    font-weight: 600;
    font-size: var(--Font-Size);
  }
  .MN_2_Div > form{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
  .MN_2_Div > form > input {
     width: 100%;
     height: 100%;
  }
  .MN_3_Div a{
    display: contents;
  }
  .MN_3_Div > a > img{
    width: clamp(7% , 7% + 2vh , 15%);
  }
  .MN_3_Div > a > h1{
  color: var(--font);
  display: inline-block;
  font-weight: 600;
  font-size: var(--Font-Size);
  }
  


.LOADING{
 display: flex;
 width: 70%;
 height: 70%;
 border: 2px solid RED;
 background-color: #5f5e5e;
 margin: auto;
 font-size: var(--Font-Size);
 padding: 1rem;

}
.LOADING > .LOADING_H1{
  color: #e40000;
  text-decoration: underline red;
  display: inline-block;
  
}
.Ar_grid{
  display: grid;
  font-size: var(--Font-Size_AR_Grid);
  font-weight: 700;
  grid-template-columns: repeat(auto-fit,minmax(clamp(5rem, 7rem + 10.333vw, 1000rem), 1fr));
  row-gap: .5rem;
  column-gap: .5rem;
  outline: 2px solid rgb(255, 252, 252);
  background-color: rgb(172, 172, 172);
 
}
.Ar_grid > *{
  outline: 2px solid rgb(255, 255, 255);
}
.Ar_grid > * > button{
  background-color: #5f5e5e ;
  color: white;
  outline: 2px solid white;
}
.Ar_grid > * > h1 , span {
  /* border-bottom: 2px solid white; */

}


/* ======= */

.Save_G{
 display: flex; 
  height: clamp(5rem , 5rem + 3vw , 30rem);
  outline: 2px solid red;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #ff7777;
}
.Save_G_D_1{
width: minmax(50% , 100%);
outline: 2px solid Black;
}
.Save_G_D_1 > img{
  width: var(--Save_G_D_1_IMG);
  height: var(--Save_G_D_1_IMG);
}
.Save_G_D_2{
  padding-left:  1rem;
  width: 60%;
  font-size: var(--Font-Size);
 }


 .Save_G_D_2 > div {
  display: flex;
  flex-wrap: wrap;
 }
 .Save_G_D_2_Div_PM > button{
  width: var(--BTN_Width_Height);
  height: var(--BTN_Width_Height);
  font-size: var(--Font-Size);

  background-color: #5f5e5e;
  outline: 2px solid var(--White);
  color: var(--White);
 }
 .Save_G_D_2_Div_PM > div > span {
  margin-inline:  2%;
 }
  .Save_G_D_2_Div_DC{
    display: flex;
    column-gap: 1rem;
    font-weight: 600;
   font-size: var(--Font-Size);
   margin-top: 1%;
  }

 .Save_G_D_2_Div_DC_B_1{
  background-color: rgb(225, 0, 0);
  color: var(--White);
  border-radius: calc(100% - 90%);
  padding-inline: 1.5rem;
 }
 .Save_G_D_2_Div_DC_B_2{
  background-color: var(--Green);
  color: var(--White);
  border-radius: calc(100% - 90%);
  padding-inline: 1.5rem;
  padding-block: .5rem;
 }
 .SH_Note_ShowNote_DIV{
  border-radius: calc(100% - 90%);
  padding-inline: .2rem;
  padding-block: .5rem;
 }
 .Save_G_D_2_Div_DC{
  margin-block: 1rem .5rem;
 }
 /* //////// */
 .NotedTDiv{
  max-width: 80%;
  max-height: 30rem;
  padding-inline-start: 1rem;
  overflow-y: scroll;
  background-color: rgb(50, 50, 50);
  color: white;
 top: 10%;
 margin-left: 10%;
 margin-right: 10%;
  display: inline-block;
  outline: 2px solid black;
  user-select: none;
  resize: both;
 }
 .NOT_NotedTDiv{
  max-width: 80%;
  max-height: 30rem;
  padding-inline-start: 1rem;
  overflow-y: scroll;
  background-color: rgb(50, 50, 50);
  color: white;
 top: 10%;
 margin-left: 10%;
 margin-right: 10%;
  display: none;
  outline: 2px solid black;
  user-select: none;
  resize: both;
 }

 .SH_Note{
  
  width: 15%;
  font-size: var(--Font-Size);

 }


 /* ======   FORM ======== */

 .User{
    width: 300px;
    outline: 2px solid black;
    margin-inline: auto;
    margin-block: 20%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .Saved_UserName_DIV{
  display: flex;
  background-color: #5f5e5e;
  width: 100%;
  height: 30%;
  font-size: xx-large;
  overflow-x: auto;
 }
 #UserName{
  outline: 2px solid red;
    background-color: #3aff0580;
 }
 .UserNameEdit_ADD_HIDE{
  display: none;
 }
 .UserNameEdit_ADD_SHOW{
  display: initial;
 }

 /* ===== TotalCartDiv */

 .TotalCartDiv{
    color: var(--font);
    display: flex;
    font-weight: 600;
    font-size: var(--Font-Size);
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background: green;
    border: 2px solid blue;
    margin-top: 3%;
    font-family: cursive;
    padding-right: 1rem;
 }
 .TotalCartDiv > button{
  margin-left: 5%;
 }
 