@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  isolation: isolate;
  outline: 2px solid rgb(201, 0, 0);
 
}

.Main-Nav{
  isolation: isolate;
  width: 100%;
  /* width: clamp(2rem, 2rem + 3.333vw, 8rem); */
  height: clamp(2rem, 2rem + 3vw , 15rem);
  /* height:; */
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
  
}
/* .Main-Nav:hover , .Main-Nav:active{
  width: 100%;
  height: clamp(2rem, 2rem + 3vw , 15rem);
  transition-duration: 150ms;
}
.Main-Nav::before{
 content:"Nav";
font-size: clamp(1rem, 1rem + 2vw , 3.3rem);
position:absolute;
display: grid;
align-items: center;
margin: auto;

 
}
.Main-Nav:hover::before{
  transition-duration: 150ms;

 display: none;
} */
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
li{
 font-size: clamp(.5rem, .5rem + 2vw , 3.3rem);
 display: inline-block;
}
li:hover , li:focus-within {
  background-color: lightblue;
}
 .li_Search{
  width: clamp(1rem , 1rem + 30vw , 50rem);
 }
.search{
  display: inline-block;
  width: 100%;
  /* height: clamp(1rem , 1rem + 2vh , 3rem); */
}

.Write_Note_Div_Show{
  display: initial;
}
.Write_Note_Div_Hide{
  display: none;
}